@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Source+Code+Pro&display=swap');

*{
    margin:0px; padding:0px;
    font-family: 'Nanum Gothic', sans-serif;
}
header{
    height:110px;
    overflow:hidden;
}
.logo{
    height:55px;
    padding-top:25px;
    padding-left:35px;
}
.logo *{
    display: inline;
    font-size: 26px;
}
.header_bar{
    height:25px;
    padding-top:5px;
    background-color:#eee;
}
.header_bar p{margin-left:20px;}

section{
    padding:30px;
    padding-left:60px;
    display: flex;
}

.list{
    background-color: #eee;
    border:1px solid #e1e1e1;
    width:20%;
    min-width:200px;
    margin-right:10px;
    border-radius:5px;
}

.list ul{
    padding-top:25px;
    padding-bottom:20px;
    list-style-type: none;
}

.list li{
    padding-left:20px;
    height:31px;
    padding-top:10px;
}
.butt:hover{
    background-color: #bbb;
    cursor:grab;
}
.list li a{
    text-decoration: none;
    color: black;
}

.list ul li div{
    padding-bottom:8px;
}
.list ul li ul{
    padding:0px;
}

.list ul li ul li{
    padding-left:10px;
    padding-top:4px;
}

.content{
    width:100%;
    height:100%;
    border:0px;
}

.if_body{
    width:80%;
    height:700px;
    min-width:800px;
    padding:30px;
    border:1px solid #e1e1e1;
    border-radius:5px;
}

.codebox{
    font-family: 'Source Code Pro', monospace;
    display: inline-block;
    padding:10px;
    padding-left:20px;
    padding-right:20px;
    border-radius:5px;
    background-color: #eee;
}

.btn{
    cursor: grab;
}