

<!-- tudac의 boring_심심해? 페이지의 html 파일 -->


<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <title>tudac &mdash; A chick can do anything</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="../static/images/tudac.png">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700|Work+Sans:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="../static/fonts/icomoon/style.css">

    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/magnific-popup.css">
    <link rel="stylesheet" href="../static/css/jquery-ui.css">
    <link rel="stylesheet" href="../static/css/owl.carousel.min.css">
    <link rel="stylesheet" href="../static/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="../static/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="../static/css/animate.css">
    
    <!-- 추가기능의 반응형과 디자인을 위한 extra.css 파일 -->
    <link rel="stylesheet" href="../static/css/extra.css">
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/mediaelement@4.2.7/build/mediaelementplayer.min.css">
    
    
    
    <link rel="stylesheet" href="../static/fonts/flaticon/font/flaticon.css">
  
    <link rel="stylesheet" href="../static/css/aos.css">

    <link rel="stylesheet" href="../static/css/style.css">

    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Hi+Melody&family=Jua&family=Nanum+Gothic&family=Poor+Story&family=Song+Myung&display=swap" rel="stylesheet">
    <style>
      *{
        font-family: 'Nanum Gothic', sans-serif;
      }
    </style>
    
  </head>
  <body>
  
  <div class="site-wrap">

    <div class="site-mobile-menu">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div> <!-- .site-mobile-menu -->
    
    
    <div class="site-navbar-wrap js-site-navbar bg-white">
      <!--tudac의 메뉴를 구현하고 있는 div-->
      <div class="container">
        <div class="site-navbar bg-light">
          <div class="py-1">
            <div class="row align-items-center">
              <div class="col-2">
                <h2 class="mb-0 site-logo" style="width:200px"><a href="../"><img src="../static/images/tudac.png" width="28px"> tudac</a></h2>
              </div>
              <div class="col-10">
                <nav class="site-navigation text-right" role="navigation">
                  <div class="container">
                    <div class="d-inline-block d-lg-none ml-md-0 mr-auto py-3"><a href="#" class="site-menu-toggle js-menu-toggle text-black"><span class="icon-menu h3"></span></a></div>

                    <ul class="site-menu js-clone-nav d-none d-lg-block">
                  <!-- Sermon: 어디가? -->
                      <li><a href="../sermons">Where_어디가?</a></li>
                  <!-- Event : 언제가? -->
                      <li><a href="../events">When_언제가?</a></li>
                  <!-- Contact : 심심해?-->
                      <li><a href="../contact">Boring_심심해?</a></li>
                      <li><a href="../about">About_궁금해?</a></li>
                    </ul>
                  </div>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <div style="height: 113px;"></div>
    <div class="slide-one-item home-slider owl-carousel">
      
      
      <!-- boring_심심해?의 상단 slide를 구현하는 div -->
      <div class="site-blocks-cover inner-page" style="background-color: rgb(170, 210, 176);"data-aos="fade" data-stellar-background-ratio="0.5">
        <div class="container">
          <div class="row align-items-center justify-content-center">
            <div class="col-md-7 text-center" data-aos="fade">
              <h1>심심해?</h1>
            </div>
          </div>
        </div>
      </div> 
    </div>

    <!-- about_궁금해?의 설명을 담고 있는 div -->
    <div class="site-section">
      <div class="container" style ="text-align:center; font-size: 20px">
        Boring_심심해?<br><br>
        심심해? 라는 기능은 여행이 가고 싶을 때 '무엇을' 하러 가야 할지 모를 때 사용하는 기능입니다.<br>
        여러 할 것들 중에서 랜덤으로 할 만한 일을 추천해드립니다.<br><br>
        그 일을 하시면 됩니다.<br>
        행운을 빕니다.
      </div>
    </div>

    <!-- boring_심심해?의 기능을 담고 있는 div -->
    <div class="site-section" style="padding-top: 0px;">
      <div class="container">
        <div class="boring_main">
          
          <div class="boring_t">

            <!-- 사용자가 입력한 이름을 받는 div -->
            <div class="boring_input">
              <ul id="input_list">
                <li><input type="text" class="names" size="30" maxlength="8" id="inputid1" placeholder="한 줄에 하나씩 이름을 입력해 주세요." style="padding:5px 10px 5px 10px"/></li>
              </ul>
            </div>

            <!-- 버튼 -->
            <div class="boring_button"><img src = "../static/images/boring_btn.png"></div>
          </div>
          <div class="boring_i">
          <!-- 결과 출력전 loading image -->
            <img src="../static/images/loding2.gif" alt="" class="img-fluid" style="z-index: 100;">
          </div>
        <!-- 출력 div -->
          <div class="boring_b">
            <div class = "boring_what"></div>
            <!-- <div class="boring_who"></div> -->
          </div>
        </div>
      </div>
    </div>

    <div class="py-5 quick-contact-info">
      <div class="container">
        <div style="text-align: center; font-size: 30px; color: whitesmoke;" >
          <p >A chick can do anything</p>
        </div>
      </div>
    </div>

    <!-- footer -->
    <footer class="site-footer">
      <div class="container">

        <div class="row">
          <!-- footer column1 -->
          <div class="col-md-4">
            <h3 class="footer-heading mb-4 text-white">About_궁금해?</h3>
            <p>tudac에 대해 자세히 알고 싶다면?</p>
            <p><a href="about" class="btn btn-primary pill text-white px-4">Read More</a></p>
          </div>
          
          <!-- footer column2 -->
          <div class="col-md-4">
            <h3 class="footer-heading mb-4 text-white">Support</h3>
                <p>페이지 오류 사항이나 문의 사항이 있다면, <br>
                  <a href="https://github.com/iopopoi/tudac/issues">여기</a> 에 남겨주세요</p>
          </div>
    
          <!-- footer column3 -->
          <div class="col-md-4">
            <h3 class="footer-heading mb-4 text-white">Github Link</h3>
                <p>
                  <a href="https://github.com/kjmin622" class="pb-2 pr-2 pl-0"><img style="height: 40px;" src="../static/images/bird_icon.png"></a>
                  <a href="https://github.com/iopopoi" class="p-2"><img style="height: 40px;"src="../static/images/gom_icon2.png"></a>
                  <a href="https://github.com/Lee-SungMin" class="p-2"><img style="height: 40px;"src="../static/images/rabbit_icon.png"></a>
                  <a href="https://github.com/huskycat1202" class="p-2"><img style="height: 40px;"src="../static/images/cat_icon.png"></a>
                </p>
          </div>
        </div>
      <!-- made by tudac -->
        <div class="row pt-5 mt-5 text-center">
          <div class="col-md-12">
            <p>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            made by <a href="https://github.com/iopopoi/tudac" target="_blank" >tudac   </a><img src = "../static/images/tudac.png" width="20" height ="20">
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
          </div>
          
        </div>
      </div>
    </footer>
  </div>
  <!-- 제이쿼리 스크립트 추가 -->
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <!--  -->
  <script src="../static/js/jquery-3.3.1.min.js"></script>
  <script src="../static/js/jquery-migrate-3.0.1.min.js"></script>
  <script src="../static/js/jquery-ui.js"></script>
  <script src="../static/js/popper.min.js"></script>
  <script src="../static/js/bootstrap.min.js"></script>
  <script src="../static/js/owl.carousel.min.js"></script>
  <script src="../static/js/jquery.stellar.min.js"></script>
  <script src="../static/js/jquery.countdown.min.js"></script>
  <script src="../static/js/jquery.magnific-popup.min.js"></script>
  <script src="../static/js/bootstrap-datepicker.min.js"></script>
  <script src="../static/js/aos.js"></script>

  
  <script src="../static/js/mediaelement-and-player.min.js"></script>

  <script src="../static/js/main.js"></script>
    

  <script>
      document.addEventListener('DOMContentLoaded', function() {
                var mediaElements = document.querySelectorAll('video, audio'), total = mediaElements.length;

                for (var i = 0; i < total; i++) {
                    new MediaElementPlayer(mediaElements[i], {
                        pluginPath: 'https://cdn.jsdelivr.net/npm/mediaelement@4.2.7/build/',
                        shimScriptAccess: 'always',
                        success: function () {
                            var target = document.body.querySelectorAll('.player'), targetTotal = target.length;
                            for (var j = 0; j < targetTotal; j++) {
                                target[j].style.visibility = 'visible';
                            }
                  }
                });
                }
            });
    </script>

<script>
  var array_size = 1;
  document.addEventListener('keydown', function(event) {
    if (event.keyCode===9 || event.keyCode === 13) {
      event.preventDefault();
      var nowid = '#inputid'+array_size;
      if($(nowid).is(':focus')){
        array_size+=1;
        $('#input_list').append("<li id='input_array"+array_size+"'><input size='30' maxlength='8' id='inputid"+array_size+"' type='text' class='names' style='padding:5px 10px 5px 10px'/></li>");
        $('#inputid'+array_size).focus();
      }
    }
    else if (event.keyCode === 8){
      var nowid = '#inputid'+array_size;
      if(array_size>1 && $(nowid).is(':focus')){
        if($(nowid).val() === ""){
          $('#input_array'+array_size).remove();
          array_size-=1;
          $('#inputid'+array_size).focus();
        }
      }
    }
    else if(event.keyCode===38){ // inputid
      var now = $(':focus').attr('id').substring(7);
      now*=1;
      if(now!="1"){
        now -= 1;
        $('#inputid'+now).focus();
        $('#inputid'+now).offset();
      }
    }
    else if(event.keyCode===40){
      var now = $(':focus').attr('id').substring(7);
      now*=1;
      if(now!=array_size){
        now += 1;
        $('#inputid'+now).focus();
        $('#inputid'+now).offset();
      }
    }
  }, true);

  function fullbat(){
    $('.img-fluid').animate({
      transform: scale(3)
    }, 1000);
  }
  
  $('.boring_button').click(function(){
    $('.boring_i').animate({
      width:'50%'
    },1000,
    function(){
      setTimeout(function(){
        $('.boring_i').animate({
        width:'0%'
        },500,function(){
          input_array=""
          for(var i=0; i<array_size; i++){
            input_array+=$('.names').eq(i).val()+',';
          }
          $.ajax({
            url:"{% url 'indexPage:boringChange' %}", 
            dataType:'json',
            type:'POST',
            data:{'name':input_array},
            success:function(result){
              if(result.isempty == true){
                alert("이름 명단이 비어있습니다!")
              }
              else{
                // $('.boring_who').text(result.name);
                // $('.boring_what').text(result.do);
                $('.boring_what').text("\" "+result.do+"할 사람은 "+result.name+" \"");
              }
            },
            error: function(request, status, error){
              alert("접속에 실패했습니다. 다시 시도해주세요.");
            },
          });
        });
      },2000);

    });
  });
</script>

  </body>
</html>