<!DOCTYPE html>
<html>
  <head>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  </head>
  <body>
    <ul id="input_list">
      <li><input type="text" class="names"/></li>
    </ul>
    
    <input type="submit" value="butt" id="boring_butt"/>
    <button id="input_plus">+</button>
    <button id="input_minus">-</button>
  </body>
  <script>
    var array_size = 1;
    $('#input_plus').click(function(){
      array_size+=1;
      $('#input_list').append("<li id='input_array"+array_size+"'><input type='text' class='names'/></li>");
    });

    $('#input_minus').click(function(){
      if(array_size>1){
        $('#input_array'+array_size).remove();
        array_size-=1;
      }
    })
    $('#boring_butt').click(function(){
      input_array=""
      for(var i=0; i<array_size; i++){
        input_array+=$('.names').eq(i).val()+',';
      }
      $.ajax({
        url:"{% url 'indexPage:boringChange' %}", 
        dataType:'json',
        type:'POST',
        data:{'name':input_array},
        success:function(result){
          alert(result.name+result.do);
        },
        error: function(request, status, error){
          alert("접속에 실패했습니다. 다시 시도해주세요.");
        },
      });
    });
  </script>
</html>