

<!-- <!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <title>테스트</title>
    <style>
      .f{font-size:30px;}
    </style>


    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=ng6xz547b0"></script>
</head>
<body>


  <div id="map" style="width:400px;height:400px;"></div>

  <button class="map_btn" name="butt" type="button" style="width:400px"><p style="font-size: 20px;">어여쁜 버튼 *P*</p></button>

  <br>
  <p class="f" style="display:inline">Region : </p><p class="region f" style="display:inline"></p><br>
  <p class="f" style="display:inline">Name : </p><p class="name f" style="display:inline"></p><br><br>

  <script type="text/javascript">
      Map(37,127,6);
      function Map(Lat, Lng, Zoom, marker=false){
          var mapOptions = {
          center: new naver.maps.LatLng(Lat,Lng),
          zoom: Zoom
          };
          var map = new naver.maps.Map('map', mapOptions);
          if(marker){
            var marker = new naver.maps.Marker({
              position: new naver.maps.LatLng(Lat,Lng),
              map:map,
              animation: naver.maps.Animation.DROP
            });
          }
      }
    $(".map_btn").click(function(){
      var pk = $(this).attr('name')
      $.ajax({
        type: "POST",
        url: "{% url 'indexPage:mapChange' %}", 
        data: {'pk': pk, 'csrfmiddlewaretoken': '{{ csrf_token }}'}, 
        dataType: "json", 
        success: function(response){ 
          Map(response.Lat,response.Lng,response.Zoom,true);
          $(".region").text(response.Region);
          $(".name").text(response.Name);
        },
        error: function(request, status, error){
          alert("접속에 실패했습니다. 다시 시도해주세요.");
        },
      });
    })
  </script>








<style> .time{display: inline;}</style>


<p class="time" id="year">2020</p> <p class="time" id="month">00</p> <p class="time" id="day">00</p> <p class="time" id="wday"></p><p class="time">요일</p>


<button class="time" name="butt" type="button">버튼!</button>


<script>
  $(".time").click(function(){
    var pk = $(this).attr('name')
    $.ajax({
      type: "POST",
      url: "{%url 'indexPage:timeChange' %}",
      data: {'pk':pk, 'csrfmiddlewaretoken':'{{csrf_token}}'},
      dataType:"json",
      success: function(response){
        $("#year").text(response.Year);
        $("#month").text(response.Month);
        $("#day").text(response.Day);
        $("#wday").text(response.Wday);
      },
      error: function(request,status,error){
        alert("접속에 실패했습니다. 다시 시도해주세요.");
      }
    });
  })
</script>



</body>
</html> -->