

/* where_어디가? + when_언제가? + boring_심심해?의 
   반응형과 디자인 수정을 위한 extra.css */


   
/* where_어디가? */
.region_name_f{
    /* border:5px dotted rgb(147, 92, 92); */
    font-size: 30px;
    height: 300px;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
}

.row11{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.where_page{
    margin: 0px;
    padding: 0px;
}
.w_i{
    /* background-color: cadetblue; */
}
.where_do{
    margin: 0px;
    padding: 0px;
}


.b_info_div{

    /* border:5px dotted rgb(217, 255, 0); */

    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
}
/* where_어디가? 끝*/





/* when_언제가? */
.when_all{
    margin: 0px;
    padding: 0px;
}
.when_main{
    /* border:5px dotted rgb(0, 0, 255); */
    align-items: center;
    display: flex;
    justify-content: space-around;
}

.when_p1{
    /* border:5px dotted rgb(255, 0, 0); */
    align-items: center;
    display: flex;
    justify-content: space-around;

    /* margin-bottom: 200px; */
    /* margin-top: 150px; */
}

.about_scale{
            transform: scale(0.85);
}
/* when_언제가? 끝 */



/* boring_심심해? */
.boring_main{
    /* border:5px dotted rgb(255, 0, 0); */
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    justify-content: space-around;
    align-items: center;
}

.boring_t{

    /* border:5px dotted rgb(0, 255, 0); */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

}

.boring_i{
    /* border:5px dotted rgb(255, 0, 0); */
    width:0%;
}

.boring_b{
    vertical-align: middle;
    /* border:5px dotted rgb(255, 0, 255); */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    font-size: 30px;
}


.boring_input{
    /* border:5px dotted rgb(0, 0, 0); */
    min-width: max-content;
    height: 60px;
    font-size: 20px;
    overflow:scroll;
    align-items: center;
    margin: 0px 50px;
    display: flex;
    justify-content: space-around;
    -ms-overflow-style: none; 
    scrollbar-width: none; 
}

.boring_input::-webkit-scrollbar{
    display: none !important;
}

.site-navbar-wrap{
    z-index:100;
}

#input_list{
    position:relative;
    list-style-type: none;
    padding:0px;
    margin:0px;
    z-index:50;
}

.boring_button{
    /*border:5px dotted rgb(150, 48, 48)*/
    max-width: 300px;
    height: 100px;
    font-size: 20px;
    align-items: center;
    display: flex;
    justify-content: space-around;
    margin: 20px;
    /* 아래는 스크롤 되는게 보기싫어서 일단 적어둠. 지워도 됨. */
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}

.boring_what{
    margin: 20px;
    /* border:5px dotted rgb(0, 0, 0); */
    width: 800px;
    height: 100px;
    align-items: center;
    display: flex;
    justify-content: space-around;
}

/* boring_심심해? 끝 */