.region_name_f{
    /* border:5px dotted rgb(147, 92, 92); */
    font-size: 30px;
    height: 300px;
    padding-top: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
}

.row11{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}


.b_info_div{

    /* border:5px dotted rgb(217, 255, 0); */

    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
}

.b_map{
    /* border:5px dotted rgb(0, 0, 255); */
}

.map_b_location{
    /* border:5px dotted rgb(255, 0, 0); */
}

.map_b_lo{
    
    padding:50px;
}

/* when */

.when_main{
    width: 800px;
    /* border:5px dotted rgb(0, 0, 255); */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}



.when_p1{
    /* border:5px dotted rgb(255, 0, 0); */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 200px;
    /* margin-top: 150px; */
}

.when_p2{
    /* border:5px dotted rgb(255, 0, 0); */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    /* margin-bottom: 150px; */
}

.when_p2 div{
    font-size: 20px;
}

.time1{
    margin: 30px;
}
.time1 p{
    display:inline;

}

.when_i{
    margin-bottom: 100px;
}